/* Enter your Styles below! */


body { 
	font-family: grange-extended, sans-serif;
	font-weight: 600;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: grange-condensed, sans-serif;
	font-weight: 700;
	font-style: normal;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 40px;
}
h4 {
	font-size: 40px;
}

h5 {
	font-size: 40px;
}

h6 {
	font-size: 40px;
}

blockquote {
	margin: 20px 60px;
	font-family: Helvetica, sans-serif;
}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a { 
	color: red;
	text-decoration: none;
}
a:hover { color: black; }



@media only screen and (min-width: 768px) {
	body {
		background-color: blue;
	}

}

@media only screen and (min-width: 1024px) {
	body {
		background-color: green;
	}

}

@media only screen and (min-width: 1200px) {
	body {
		background-color: salmon;
	}

}


/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/